
 .Caracteriztica {
    border-style: solid;
    font-size: 30px;
    font-family: oblique;
    border-color:white;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 45px;
    left: 790px; 
    position: relative;
    left: -780px;
    top: -2200px;
    color:rgb(12, 0, 0);
    display: inline-block;
    
}
.Caracteriztica2{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left: 320px;
    top: -2200px;
    color:rgb(196, 135, 188);
 
    
}

.Caracteriztica3{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left:320px;
    top: -2190px;
    color:rgb(150, 92, 130);
    
    
}
.Caracteriztica4{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    left: 790px; 
    position: relative;
    left: 320px;
    top: -2180px;
    color:rgba(223, 133, 29, 0.842);
  
    
}
.Caracteriztica5{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left: 320px;
    top: -2170px;
    color:rgb(165, 82, 4);
    display: inline-block;
    
}
.Caracteriztica6{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left: 110px;
    top: -2140px;
    color:rgb(129, 17, 114);
    display: inline-block;
    
}
.Caracteriztica7{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left: -95px;
    top: -2100px;
    color:yellow;
    display: inline-block;
    
}

.Caracteriztica12{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left: -95px;
    top: -2400px;
    color:rgba(197, 194, 31, 0.877);
    display: inline-block;
    
}
.Caracteriztica8{
  
    border-style: solid;
    font-size: 30px;
    font-family: oblique;
    border-color: white;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 45px;
    left: 790px; 
    position: relative;
    left: -95px;
    top: -2430px;
    color:rgb(21, 22, 21);
    display: inline-block;
    
}


.Caracteriztica9{
  
     font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative;
    left: -300px;
    top: -2390px;
    color:rgb(6, 124, 65);
    display: inline-block;
    
}
.Caracteriztica10{
  
   
   font-size: 24px;
   font-family: oblique;
   width: 200px;
   height: 20px;
   margin: 1px;
   text-align: center;
   line-height: 60px;
   left: 600px; 
   position: relative;
   left: 710px;
   top: -2399px;
    color:rgb(109, 162, 231);
    display: inline-block;
    
}
.Caracteriztica11{
  
    font-size: 25px;
    font-family: oblique;
    width: 200px;
    height: 20px;
    margin: 1px;
    text-align: center;
    line-height: 65px;
    left: 790px;   
    position: relative;
    left: 520px;
    top: -2350px;
    color:rgb(6, 143, 235);
    display: inline-block;
    
}
 .OtrosNoMetales{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     position: relative;
    background-color: rgb(6, 124, 65);
 }
 .Alcalinos{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     position: relative;
    background-color: rgb(196, 135, 188);
 
 }
 .AlcalinosTerreos{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left:69px;
     top: -320px;
     background-color: rgb(150, 92, 130);
     
 }
 .MetalesDeTrasicion{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
    background-color:rgba(223, 133, 29, 0.842);
    display: inline-block;
    position: relative;
     left:139px;
     top: -534px;
 }
 .MetalesDeTrasicion2{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin-left: 2px;
     text-align: center;
     line-height: 65px;
    background-color:rgba(223, 133, 29, 0.842);
    display: inline-block;
    position: relative;
     left:-520px;
     top: -480px;
 }
 .MetalesDeTrasicion3{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: rgba(24, 24, 23, 0.842);
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
    background-color:rgba(223, 133, 29, 0.842);
    display: inline-block;
    position: relative;
     left:65px;
     top: -481px;
 }
 .MetalesDeTrasicion4{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
    background-color:rgba(223, 133, 29, 0.842);
    display: inline-block;
    position: relative;
     left:-670px;
     top: -427px;
 }
 .Lantanidos{
     border-style: solid;
     font-size: 15px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
    background-color: rgb(165, 82, 4);
    display: inline-block;
    position: relative;
     left:-1181px;
     top: -485px;
 }
 
 .Actinidos{
     border-style: solid;
     font-size: 15px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
    background-color: rgb(129, 17, 114);
    display: inline-block;
    position: relative;
     left:-1254px;
     top: -432px;
 }
 .OtrosMetales{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left:870px;
     top: -805px;
     background-color:yellow;
     
 }
 
 .OtrosMetales2{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left:943px;
     top: -1130px;
     background-color:yellow;
     
 }
 
 .OtrosMetales3{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left:1016px;
     top: -1400px;
     background-color:yellow;
     
 }
 .OtrosMetales4{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 1087px;
     top: -1716px;
     background-color:yellow;
     
 }
 
 .Metaloides{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 870px;
     top: -1330px;
     background-color:rgba(197, 194, 31, 0.877);
     
 }
 
 .Metaloides2{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 943px;
     top: -1130px;
     background-color:rgba(197, 194, 31, 0.877);
     
 }
 
 .Metaloides3{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 1016px;
     top: -1399px;
     background-color:rgba(197, 194, 31, 0.877);
     
 }
 
 .Metaloides4{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 1086px;
     top: -1715px;
     background-color:rgba(197, 194, 31, 0.877);
     
 }
 
 .OtrosNoMetales2{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 943px;
     top: -1702px;
     background-color:rgb(6, 124, 65);
     display: inline-block;
     
 }
 
 .OtrosNoMetales3{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 796px;
     top: -1650px;
     background-color: rgb(6, 124, 65);
     display: inline-block;
     
 }
 
 .OtrosNoMetales4{
    border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     position: relative;
    background-color: rgb(6, 124, 65);
    left: 1086px;
    top: -1715px;
 }
 
 .Halogenos{
    border-style: solid;
    font-size: 25px;
    font-family: oblique;
    border-color: black;
    width: 65px;
    height: 51px;
    margin: 2px;
    text-align: center;
    line-height: 65px;
    left: 790px; 
    position: relative; 
    left: 1157px;
    right:100px;
    top: -2035px;
    background-color:rgb(109, 162, 231);

    
}
 
 .GasesNobles{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 1225px;
     top: -2405px;
     background-color:rgb(6, 143, 235);
 
     
 }
 
 
 .Lantanidos2{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 100px;
     top: -2300px;
     background-color:rgb(165, 82, 4);
     display: inline-block;
     
 }
 
 .Actinidos2{
     border-style: solid;
     font-size: 25px;
     font-family: oblique;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     text-align: center;
     line-height: 65px;
     left: 790px; 
     position: relative;
     left: 100px;
     top: -2300px;
     background-color:rgb(129, 17, 114);
     display: inline-block;
     
 }
 
 .body{
     background-color: white;
 }
 .block{
     background-color: #cccccc;
     border-style: solid;
     border-color: black;
     width: 65px;
     height: 51px;
     margin: 2px;
     left: 790px; 
 }
 
 